
/venv_phasenet
/DAVIS-data
/net/__pycache__
/net/complex_nn/__pycache__
outputs/test_complex
/model
/log
/debug_cvnn
/debug_strong
/test_davis_sharp
/test_ucf101_sharp
/ucf101_interp_ours
DAVIS-data.zip
steerable/__pycache__/__init__.cpython-312.pyc
steerable/__pycache__/SCFpyr_PyTorch.cpython-312.pyc
DAVIS-2017-trainval-480p.zip
log/2026-03-18_21-47-08_train_complex.txt
model/2026-03-18_21-47-08_complex_epoch2.pth
model/2026-03-18_21-47-08_complex_epoch4.pth
model/2026-03-18_21-47-08_complex_epoch6.pth
model/2026-03-18_21-47-08_complex_epoch8.pth
model/2026-03-18_21-47-08_complex_epoch10.pth
model/2026-03-18_21-47-08_complex_final.pth
__pycache__/train_complex.cpython-312.pyc
